
.card-container {
  width: 200px;
  height: 350px;

  .product-image {
    width: 200px;
    height: 150px;

    img{
      width: 100%;
      height: 100%;

    }
  }
  .buy-button {
    width: 100%;
    height: 30px;
    border: 1px solid #707070;
    background: #fff;
    border-radius: 4px;
    color: #888;
  }

  .product-info {
    font-size: 14px;
    p {
      margin-top: 0;
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
    }
    .price {
      font-weight: 700;
      font-size: 16px;
    }
  }
}