$tablet: 1024px;
$mobile : 768px;
$xmobile: 480px;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
#root {
  height: 100%;
}
/************ HEADER *************/
.header {
  width: 100%;
  max-width: 100%;
  min-height: 319.33px;
  background: #707070;
  color: #fff;
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  .header-content {
    max-width: 923px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .header-text {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      margin-bottom: 50px;

      @media (max-width: $xmobile) {
        padding: 20px 10px 0;
        margin-bottom: 30px;
        
      }

      .header-text-top {
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 8px;
      }

      .header-text-middle {
        margin-top: 0;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 24px;
      }

      .header-text-bottom {
        font-size: 14px;
        
      }
    }

    .navbar {
      display: flex;
      justify-content: center;

      @media (max-width: $mobile) {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 10px;
        padding-left: 10px;
      }
      .nav-item {
        width: 140px;
        height: 40px;
        background: #fff;
        border-radius: 4px;
        color: #888;
        font-size: 12px;
        border: none;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }

        @media (max-width: $mobile) {
          margin-right: 5px;
          margin-bottom: 15px;  
          width: 120px;        
        }
      }
    }
  }
}
/************ MAIN CONTENT *************/

.main {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.special-selection {
  max-width: 923px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 164px;
}

.gallery-heading {
  text-align: center;
  font-size: 18px;
  color: #888;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}

.more-products {
  width: 260px;
  height: 39px;
  background: #fff;
  border: 1px solid #707070;
  color: #888;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 41px;
  max-width: 923px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 43px;
  @media (max-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $xmobile) {
    grid-template-columns: repeat(1, 1fr);
  }

.card-container {
  width: 200px;
  height: 364px;

  .product-image {
    width: 200px;
    height: 150px;

    img{
      width: 100%;
      height: 100%;

    }
  }
  .buy-button {
    width: 100%;
    height: 30px;
    border: 1px solid #707070;
    background: #fff;
    border-radius: 4px;
    color: #888;
  }

  .product-info {
    font-size: 14px;
    p {
      margin-top: 0;
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
    }
    .price {
      font-weight: 700;
      font-size: 16px;
    }
  }
}
}

.share-form {
  max-width: 923px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 142.36px;
  @media (max-width: $mobile) {
    padding: 0 10px;
  }
  .form-heading, p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #888;
    
  }
  .form-heading {
    font-weight: 700;
    margin-bottom: 44px;
  }

  p {
    font-size: 14px;
    margin-bottom: 39px;
  }

  .user-info {
    font-size: 12px;
    color: #888;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 50px;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }
    input, label {
      display: block;
      margin-bottom: 10px;          
    }
    input {
      width: 340px;
      height: 30px;
      @media (max-width: $mobile) {
        width: 300px;
      }
    }
    .name {
      margin-right: 40px;
      @media (max-width: $mobile) {
       margin-right: 0;
      }
    }
  }
  .send-now {
    width: 260px;
    height: 39px;
    background: #fff;
    color: #888;
    border: 1px solid #707070;
    font-family: 'Roboto', sans-serif;
  }
}

/************ FOOTER *************/

.footer {
  width: 100%;
  height: 186.64px;
  background: #707070;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-text {
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      margin: 10px;
    }
  }
}

/********* LOADER *********/

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 50px;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #888;
    border-color: #888 transparent #888 transparent;
    animation: loader 1.2s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
